<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
	<div class="row">
		<div class="col-sm-6 mb-1">
			<button class="btn btn-primary mr-1" [disabled]="!recipeForm.valid" type="submit">Save</button>
      <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
  </div>
  <div class="col-sm-6">
<div class="form-group">
  <label>Name</label>
  <input type="text" class="form-control" id="name" formControlName="name" />
</div>
  </div>
  <div class="col-sm-6">
<div class="form-group">
  <label>Image Path</label>
  <input type="text" class="form-control" id="imagePath" formControlName="imagePath" #imagePath />
</div>
  </div>
   <div class="col-sm-6">
<div class="form-group">
  <label>Description</label>
  <textarea type="text" class="form-control" id="description" formControlName="description"></textarea>
</div>
  </div>
   <div class="col-sm-6">
     <img [src]="imagePath.value" class="img-fluid"/>
   </div>

</div>
<div formArrayName="ingredients">
<div class="row" *ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls; let i=index" [formGroupName]="i">
   <div class="col-5">
<div class="form-group mr-1">
  <input type="text" class="form-control" id="imagePath" formControlName="name"/>
</div>
  </div>
   <div class="col-5">
<div class="form-group mr-1">
  <input type="text" class="form-control" id="number" placeholder="number" formControlName="amount"/>
</div>
  </div>
 <div class="col-2">
<div class="form-group">
  <button class="btn btn-primary" type="button" (click)="onDeleteIngredient(i)">X</button>
</div>
  </div>
</div>
</div>
<div class="col-12">
  <button class="btn btn-primary" type="button" (click)="onAddIngredient()">Add Ingredients</button>
</div>
</form>