<div class="container my-3">
	<div class="bg-white p-3 rounded">
		<ul class="list-vertical">
			<li><a routerLink="/game/home">Game</a></li>
			<li><a routerLink="/server/serverElement">Servers</a></li>
			<li><a routerLink="/shopping/home">Shopping</a></li>
			<li><a routerLink="/examples/home">Examples</a></li>
			<li><a routerLink="/services/home">Services</a></li>
			<li><a routerLink="/nav/home">Routing Module</a></li>
			<li><a routerLink="/observables">Observables</a></li>
			<li><a routerLink="/forms">Forms</a></li>
		</ul>
	</div>
</div>