<div class="bg-white">
	<div class="container-fluid">
		<div class="row">
			<div class="col-4">
				<div class="d-flex align-items-center">
					<div class="menu-btn">
            <span class="line one"></span>
            <span class="line two"></span>
            <span class="line three"></span>
          </div>
					<div class="logo py-2 menu-line position-relative" routerLink="/">RECIPE SHOPPING</div>
				</div>
			</div>
			<div class="col-8">
				<ul class="list-inline">
					<li routerLinkActive="active" *ngIf="isAuthenticated"><a routerLink="/shopping/recipes">Recipes</a></li>
					<li><a routerLink="/shopping/shopping-list">Shopping List</a></li>
					<li *ngIf="isAuthenticated"><a (click)="onSaveData()">Save Data</a></li>
					<li *ngIf="isAuthenticated"><a (click)="onFetchData()">Fetch Data</a></li>
           <li *ngIf="!isAuthenticated"><a routerLink="/shopping/auth">Auth</a></li>
           <li *ngIf="isAuthenticated"><a routerLink="/shopping/auth" (click)="onLogout()">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>