<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
			<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
				<span class="help-block" *ngIf="!signUpForm.valid && signUpForm.touched">Please details</span>
      	<div formGroupName="userData">
					<div class="form-group">
						<label for="username">Username</label>
            <input type="text" class="form-control" formControlName="username">
            <span class="help-block" *ngIf="!signUpForm.get('userData.username').valid && signUpForm.get('userData.username').touched">
              <span *ngIf="signUpForm.get('userData.username').errors['nameIsForbidden']">name is invalid..!</span>
                <span *ngIf="signUpForm.get('userData.username').errors['required']">This Field is Required..!</span>
              
              </span>
          </div>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" class="form-control" formControlName="email">
          </div>
           </div>
        <div formArrayName="hobbies">
          <h4>Your Hobbiles</h4>
          <button type="button" class="btn btn-primary mb-1" (click)="onAddHobby()">Add Hobby</button>
          <div class="form-group" *ngFor="let hobbyControl of signUpForm.get('hobbies').controls; let i=index">
<input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>
        <div class="form-group">
         <div class="radio" *ngFor="let gender of genders">
            <label><input type="radio" formControlName="gender" [value]="gender" />{{gender}}</label>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
       
      </form>
    </div>
  </div>
</div>