<p>shopping edit</p>
<div class="row">
	<div class="col-sm-12">
		<form>
			<div class="form-group">
				<label>Name</label>
        <input type="text" id="name" class="form-control"/>
      </div>
       <div class="form-group">
        <label>Number</label>
        <input type="text" id="number" class="form-control"/>
      </div>
      <div>
        <button type="button" class="btn btn-success mr-1">Add Item</button>
        <button type="button" class="btn btn-danger">Add Item</button>
        <button type="button" class="btn btn-danger">Clear</button>
      </div>
    </form>
	</div>
</div>